<div id="<%= dom_id post %>">
  <%# <div class="post"> %>
    <p>
      <strong>title:</strong>
      <%= post.title %>
    </p>

    <p>
      <strong>body:</strong>
      <%= post.body %>
    </p>
  <%# </div> %>
</div>
