<% content_for :title, "editing post-it" %>

<h1>editing post-it</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "show this post-it", @post %> |
  <%= link_to "back to bulletin", posts_path %>
</div>
