<% content_for :title, "editing sticky" %>

<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "show this sticky", @post %> |
  <%= link_to "back to stickies", posts_path %>
</div>
