<p style="color: green"><%= notice %></p>

<% content_for :title, "bulletin" %>

<h1>miniblog</h1>

<% @posts.each do |post| %>
  <div class="post">
    <%= render post %>
    <p><%= link_to "show this post-it", post %></p>
  </div>
  <% end %>

<%= link_to "new post-it", new_post_path %>