/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

 body {
    font-family: "Inconsolata", monospace;
    padding: 2rem;
    max-width: 700px;
    margin: auto;
    background: #d1d1d1
 }

 .post {
    background-color: #fff8b0;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 6px rgb(150 150 150/ 90%);
 }

 .post:hover {
   transform: translateY(-3px);
 }

 a {
    text-decoration: wavy underline;
    color: #0077cc;
 }

 .textarea {
   font-family: "Inconsolata", monospace;
   font-size: 16px;
 }

 .button {
   font-size: 16px;
   background-color: white;
   border: 1px solid black;
   margin-top: 1rem;
   font-family: "Inconsolata", monospace;
 }

 .button:hover {
   background-color: #d4d4d4;
   transform: translateY(-1px);
 }

 .button:active {
   transform: translateY(1px);
 }

 .image {
   max-width: 80%;
 }